table{
	border-collapse:collapse;
}
tr, td{
	border:0.5px solid grey;
}
tr td{
	padding:4px;
	padding:7px;
	padding-bottom:9px;
	padding-top:9px;
}
td:nth-child(odd){
	background-color:lightgrey;
}
th:nth-child(odd){
	color:lightgrey;
}
th{
	color:white;
	background-color:grey;
	padding:7px;
	padding-bottom:9px;
	padding-top:9px;
}